body {
  background: radial-gradient(circle, rgb(252, 253, 255) 0%, rgb(236, 245, 243) 100%);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  height: 100%;
  cursor: pointer;
}

.background-image {
  background-image: url("../images/lets-go-travel.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); /* Adjust the rgba values to change the overlay color and opacity */
  z-index: 1;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100%;
  padding: 10px;
}

.background-image > * {
  position: relative;
  z-index: 2;
}

h1 {
  text-align: left;
}

.login-form {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

#booking-form {
  max-width: 30%;
}

.trip-table {
  border: .09rem solid;
  border-color:rgb(26, 9, 9);
  border-collapse: collapse;
  max-width: 30%
}

th, td {
  text-align: left;
  border: .09rem solid;
  border-color:rgb(26, 9, 9);
  padding-right: .6rem;
  padding-left: .3rem;
  border-collapse: collapse;
}

th {
  font-size: 1rem;
  font-weight: 400;
}

td {
 font-size: .7rem;
 font-weight: 200;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}


/* ______

body {
  background: radial-gradient(circle, rgb(252, 253, 255) 0%, rgb(236, 245, 243) 100%);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
}

#login-img {
  width: 15%;
}

#booking-form {
  max-width: 30%;
}

input, select, textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

.button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
} */
