body {
  background: radial-gradient(circle, rgb(245, 249, 252) 0%, rgb(242, 249, 248) 100%);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  height: 100%;
  cursor: pointer;
}

.background-image {
  background-image: url("../images/lets-go-travel.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); 
  z-index: 1;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100%;
}

.background-image > * {
  position: relative;
  z-index: 2;
}

.login-form {
  max-width: 400px;
  width: 400%;
  margin: 20px;
  text-align: center;
}

h1 {
  text-align: left;
  margin: 2rem;
}

main {
  display: flex;
  width: 80%;
  margin: auto;

}

.book-form {
  max-width: 55%;
  background-color:rgb(250, 214, 182);
  padding: 1em;
  border-radius: .5rem;
  margin-top: 1em;
}

.trip-table {
  border: .09rem solid;
  border-color:rgb(26, 9, 9);
  border-collapse: collapse;
  max-width: 30%
}

th, td {
  text-align: left;
  border: .09rem solid;
  border-color:rgb(26, 9, 9);
  padding-right: .6rem;
  padding-left: .3rem;
  border-collapse: collapse;
  background-color: white;
}

th {
  font-size: 1rem;
  font-weight: 400;
}

td {
 font-size: .8rem;
 font-weight: 200;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.hidden {
  display: none;
}

