body {
  background: radial-gradient(circle, rgb(252, 253, 255) 0%, rgb(236, 245, 243) 100%);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

main (
  
)

#login-img {
  width: 15%;
}

#booking-form {
  max-width: 30%;
}

.trip-table {
  border: .09rem solid;
  border-color:rgb(26, 9, 9);
  border-collapse: collapse;
  max-width: 30%
}

th, td {
  text-align: left;
  border: .09rem solid;
  border-color:rgb(26, 9, 9);
  padding-right: .6rem;
  padding-left: .3rem;
  border-collapse: collapse;
}

th {
  font-size: 1rem;
  font-weight: 400;
}

td {
 font-size: .7rem;
 font-weight: 200;
}

.input-field {
  position: relative;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  appearance: none; /* Removes default select arrow */
}

select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

